*.exe
*.pdb
**/obj/
**/obj/**/*.*
**/bin/
**/packages
*.DotSettings
**/.vs
/Samples/PathListBoxSample/PathListBoxSample.sln.GhostDoc.xml
/Develops/JenkinsNotificationTool/JenkinsNotificationTool.sln.GhostDoc.xml
/Dev/
*.suo
*.user
/Samples/EnumConstantsSample/EnumConstantsSample.sln.GhostDoc.xml
*.msi
